/* .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 2px;
    background-color: aqua;
} */

.container {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.right-side h2 {
    font-weight: 100;
}


.right-side {
    height: fit-content;
    width: 50%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.left-side {
    flex: 1;
    max-height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


@media(max-width: 853px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1;
        margin-top: 25px;
    }
}